*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-family: 'Fredoka', sans-serif;
}

img{
  width: 100px;
  height: 100px;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* header  */

header{
  text-align: center;
  color: #E54971;
  padding: 40px;
}

/* main  */

main section:first-child{
  text-align: center;
  padding-bottom: 40px;
}

main .member-team{
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.member-box{
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 20px;
  background-color: black;
  color: white;
  box-shadow:5px 5px 10px lightgrey;
}

.member-box .info-box{
  display: inline-block;
  padding: 10px;
}

.member-box .info-box .member-name{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.member-box .info-box .member-role,
.member-box .info-box .member-email{
  font-size: 0.8rem;
}

.member-box .info-box .member-name,
.member-box .info-box .member-role{
  margin-bottom: 10px;
}

.member-box .info-box .member-email{
  color: #48ACE6;
  text-transform: lowercase;
}